<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>admin@gmail.com</key>
	<string>admin123</string>
	<key>adithya@gmail.com</key>
	<string>adithya123</string>
	<key>paul@gmail.com</key>
	<string>paul123</string>
	<key>dan@gmail.com</key>
	<string>dan123</string>
	<key>cooper@gmail.com</key>
	<string>cooper123</string>
</dict>
</plist>
